{% extends 'base.html' %}
{% block content %}
    <section class="left-half">
        <h2>{{ static.headline_about }}</h2>
        <p>{{ static.subline_about }}</p>
    </section>
    <section>
        <img src="static/img/portrait-wolf-small.webp" srcset="static/img/portrait-wolf.jpg" alt="" class="img-left">
        <h1 class="title-right">HELLO, I'M WOLF</h1>
        <div class="paragraph-right">{{ static.paragraph_about | safe }}</div>
    </section>
    <section>
        <img src="static/img/man-in-front-of-mountains-small.webp" srcset="static/img/man-in-front-of-mountains.jpg"
             alt="" class="img-right">
        <h1 class="title-left">CURRICULUM VITAE</h1>
        <div id="paragraph-left-cv">
            <h4>Experience_</h4>
            {% for cv in cvs %}
            <p>{{ cv.start.strftime('%b %Y') }} - {% if cv.end == None %}Current
            {% else %}{{ cv.end.strftime('%b %Y') }}{% endif %} {{ cv.workplace | safe }}</p>
                <p class="indent">
                    <em>
                    {{ cv.paragraph }}
                    </em>
                </p>
            {% endfor %}
        </div>
        <div class="paragraph-right-2">
            <h4 class="title-right">Courses_</h4>
            {% for course in courses %}
            <p>{{ course.course_name | safe }}</p>
                <p class="indent">
                    <em>
                    {{ course.paragraph }}
                    </em>
                </p>
            {% endfor %}
        </div>
    </section>
    <section>
        <a href="{{ url_for('contact') }}" class="contact-button">SAY HELLO</a>
    </section>
{% endblock %}