{% extends 'admin_base.html' %}
{% block content %}
    <section>
        <form action="" enctype=multipart/form-data method="post" novalidate>
            {{ edit_work.hidden_tag() }}
            <p class="cover-image">
                <img src="{{ url_for('static', filename='/img/' + static.cover_image_work) }}" alt="" width="200px"><br>
                {{ edit_work.cover_image.label }}<br>
                {{ edit_work.cover_image }}
            </p>
            <p>
                {{ edit_work.headline.label }}<br>
                {{ edit_work.headline }}
            </p>
            <p>
                {{ edit_work.subline.label }}<br>
                {{ edit_work.subline }}
            </p>
            <p>{{ edit_work.submit_static }}</p>
            <hr>
        </form>
    </section>
    <section>
         <h2>Edit Projects</h2>
        <form action="" method="post" novalidate>
            {{ add_project.hidden_tag() }}
            <p>
                {{ add_project.submit_project }}
                {{ add_project.name }}
            </p>
        </form>
        <ul class="items">
        {% for project in projects %}
            <li><a href="{{ url_for('website_content_project', url_name=project.url_name) }}">{{ project.name }}</a></li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}