{% extends 'base.html' %}
{% block content %}
    <section class="left-half">
        <h2>Don't be shy.</h2>
        <p>
            I’m Utrecht based and am looking for opportunities in the Randstad.
            <br>
            Hate forms? Send a message to
            <a href="mailto:wolframfriele@gmail.com" target="_blank">wolframfriele@gmail.com</a>
            and I’ll get back to you soon.
        </p>
    </section>
    <section>
        <img src="{{ url_for('static', filename='img/radio-telescope.jpg') }}" alt="" class="img-left">
        <h1 class="title-right">Let's get in touch</h1>
        <form action="" method="post" novalidate>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashed-message">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name }}
                {% for error in form.name.errors %}
                <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email }}
                {% for error in form.email.errors %}
                <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.message.label }}<br>
                {{ form.message }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </section>
{% endblock %}