{% extends 'base.html' %}
{% block content %}
<section class="left-half">
        <h2>Let’s get in touch</h2>
        <p>I’m Utrecht based and am looking for opportunities in the Randstad.
            <br>
            Hate forms? Send a message to <a href="mailto:hello@wolframfriele.com" target="_blank">hello@wolframfriele.com</a> and I’ll get back to you soon.</a></p>
        <p id="phone">In a hurry? Call me at <a href="tel:+31681841122">06-81 84 1122</a></p>
    </section>
    <section>
        <img src="static/img/radio-telescope-small.jpg" srcset="static/img/radio-telescope.jpg" alt="" class="img-left">
        <h1 class="title-right">PLEASE REACH OUT,</h1>
        <form action="">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Your name">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Your email">

            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>

            <input type="submit" value="Submit">
        </form>
    </section>
    <section>
        <h1 id="low-title-contact">DON'T BE SHY</h1>
    </section>
{% endblock %}