{% extends 'base.html' %}
{% block content %}
<img src="{{ url_for('static', filename='img/' + project.secondary_image) }}" alt="" class="cover-image">
    <section>
        <h1 class="title-left">{{ project.name }}</h1>
    </section>
    <section>
        <iframe src="{{ project.video }}" width="1085" height="610" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </section>
    <section>
        <div class="paragraph-right">
            <h4>{{ project.date.strftime('%b %Y') }}_</h4>
            <p>{{ project.long_description }}</p>
        </div>
    </section>
    <section>
        <a href="{{ url_for('contact') }}" class="contact-button">SAY HELLO</a>
    </section>
{% endblock %}