{% extends 'base.html' %}
{% block content %}
<img src="static/img/logic.jpg" alt="" class="cover-image">
    <section>
        <h1 class="title-left">SHOWREEL 2020</h1>
    </section>
    <section>
        <iframe src="https://player.vimeo.com/video/163702016" width="1085" height="610" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </section>
    <section>
        <div id="showreel-01"></div>
        <div id="showreel-02"></div>
        <div class="paragraph-right">
            <h4>April 2016_</h4>
            <p>End of an era finally off the work I have produced over the past 5 years while working at Onesize and MediaMonks.
                Besides proffesional work I have produced lot's of passion projects small and big. To see more about my role with all of the projects you can check out the subtitles.</p>
        </div>
    </section>
    <section>
        <a href="{{ url_for('contact') }}" class="contact-button">SAY HELLO</a>
    </section>
{% endblock %}