{% extends 'base.html' %}
{% block content %}
{% if static.cover_image_work %}
    <img src="{{ url_for('static', filename='img/dynamic/' + static.cover_image_work) }}"  alt="" class="cover-image">
{% else %}
    <img src="{{ url_for('static', filename='img/data-landscape.jpg') }}"  alt="" class="cover-image">
{% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashed-message">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <section class="left-half">
        <h2>AI engineer-in-training. Recovering advertising professional.</h2>
        <p>On the hunt for purpose-driven projects that tackle climate change, global inequality, and fake news.</p>
        <h4 class="selection-work">Selection of Work_</h4>
    </section>
    {% for project in projects %}
        {% if loop.index is divisibleby 2 %}
            <section class="project">
            {% if project.secondary_image %}
                <img src="{{ url_for('static', filename='img/dynamic/' + project.secondary_image) }}" alt="" class="project-secondary-img-right">
            {% endif %}
            {% if project.main_image %}
                <img src="{{ url_for('static', filename='img/dynamic/' + project.main_image) }}" alt="" class="project-main-img">
            {% endif %}
            <h1 class="title-left">{{ project.name }}</h1>
            <p class="paragraph-left">{{ project.short_description }}
                <br>
                <br>
                <em><a href="{{ url_for('project', url_name=project.url_name) }}">See project</a></em></p>
            </section>
        {% else %}
            <section class="project">
            {% if project.secondary_image %}
                <img src="{{ url_for('static', filename='img/dynamic/' + project.secondary_image) }}" alt="" class="project-secondary-img-left">
            {% endif %}
            {% if project.main_image %}
                <img src="{{ url_for('static', filename='img/dynamic/' + project.main_image) }}" alt="" class="project-main-img">
            {% endif %}
            <h1 class="title-right">{{ project.name }}</h1>
            <p class="paragraph-right">{{ project.short_description }}
                <br>
                <br>
                <em><a href="{{ url_for('project', url_name=project.url_name) }}">See project</a></em></p>
            </section>
        {% endif %}
    {% endfor %}
    <section>
        <a href="{{ url_for('contact') }}" class="contact-button">Say hello</a>
    </section>
{% endblock %}