{% extends 'base.html' %}
{% block content %}
<img src="static/img/data-landscape-small.webp" srcset="static/img/data-landscape.jpg"  alt="" class="cover-image">
    <section class="left-half">
        <h2>AI Engineer-in-Training looking for projects to fight climate change, filter bubbles, and fake news.</h2>
        <p>I want to use my 8 years of experience in animation and design to make AI communications more credible.</p>
        <h4 class="selection-work">Selection of Work_</h4>
    </section>
    {% for project in projects %}
        {% if loop.index is divisibleby 2 %}
            <section class="project">
            <img src="{{ project.secondary_image }}" alt="" class="project-secondary-img-right">
            <img src="{{ project.main_image }}" alt="" class="project-main-img">
            <h1 class="title-left">{{ project.name }}</h1>
            <p class="paragraph-left">{{ project.short_description }}
                <br>
                <br>
                <em><a href="{{ url_for('project') }}">See project</a></em></p>
            </section>
        {% else %}
            <section class="project">
            <img src="{{ project.secondary_image }}" alt="" class="project-secondary-img-left">
            <img src="{{ project.main_image }}" alt="" class="project-main-img">
            <h1 class="title-right">{{ project.name }}</h1>
            <p class="paragraph-right">{{ project.short_description }}
                <br>
                <br>
                <em><a href="{{ url_for('project') }}">See project</a></em></p>
            </section>
        {% endif %}
    {% endfor %}
    <section>
        <a href="{{ url_for('contact') }}" class="contact-button">SAY HELLO</a>
    </section>
{% endblock %}